.homePage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* パディングを含めてサイズを計算 */
}

.homePage .postContents {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    background-color: white;
    box-shadow: 0px 0px 15px -3px #777777;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

/* メディアクエリ - 画面幅768px以下 (スマホ・タブレット向け) */
@media screen and (max-width: 768px) {
    .homePage .postContents {
        width: 100%;         /* 画面幅に100%フィットさせる */
        margin: 10px 0;      /* 上下に余白をつける */
        padding: 15px;       /* パディングを少し小さくする */
    }

    .nameAndDeleteButton {
        display: flex;
        flex-direction: column; /* 縦方向に並べる */
        align-items: flex-start; /* 左寄せにする */
        width: 100%;
    }
    
    .nameAndDeleteButton h3 {
        text-align: left;      /* 左寄せにする */
        width: 100%;           /* 幅を100%に設定 */
    }
    

    .nameAndDeleteButton button {
        margin-top:10px;
        width: 100%;          /* ボタンを幅いっぱいにする */
        text-align: center;    /* テキストを中央揃えにする */
    }
}

.postHeader h1 {
    text-align: center;
    margin-top: 5px;
}

.postContents .postTextContainer {
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
}

.nameAndDeleteButton {
    display: flex;
    align-items: center;
    justify-content: space-between; /* ボタンとテキストを左右に配置 */
    width: 100%; /* ボタンとテキストが横に並んだとき、横幅が親要素に収まるようにする */
}

.nameAndDeleteButton button {
    padding: 10px 20px; /* ボタンの内側余白 */
    background-color: #2a63aa;
    box-shadow: 0px 0px 15px -3px #777777;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    transition: all 0.3s;
    white-space: nowrap; /* ボタンのテキストが折り返されないようにする */
    flex-shrink: 0; /* ボタンが小さくなりすぎないようにする */
}

.nameAndDeleteButton button:hover {
    background-color: #eb3434;
    transform: translateY(5px);
    box-shadow: none;
}

.nameAndDeleteButton h3 {
    flex-grow: 1; /* h3は残りのスペースを占める */
    margin: 0;
}
